TELEGRAM_TOKEN = telegram_token

LOG_LEVEL = debug

DB_HOST = localhost
DB_PORT = 5432
DB_USER = postgres
DB_PASSWORD = postgres
DB_NAME = postgres
MIGRATION_PATH = migrations\\table_up.sql

EMAIL_TOKEN = email_token
CLIENT_EMAIL = client_email
HOST_EMAIL = host_email
SMTP = smtp

DATE_CHECK_INTERVAL = 1m